<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Webcam Breakout</title>
    </head>
    <body>
        <div id="loading-overlay">
            <div id="loading-spinner"></div>
            <div id="loading-text">Loading...</div>
        </div>
        <dialog id="process-dialog">
            <button id="close-button">閉じる</button>
            <iframe src="./process.html" frameborder="0"></iframe>
        </dialog>
        <header>
            <div class="logo">Webcam Breakout</div>
            <div class="nav">
                <div id="how-to-play">
                    遊び方
                    <span class="help">help</span>
                </div>
            </div>
        </header>
        <dialog>aaaa</dialog>
        <div class="body">
            <canvas id="game" width="480" height="350"></canvas>
            <div class="button-container">
                <button class="start" id="start-button" disabled>
                    <span class="icon">play_circle</span>
                    <span class="button-text">play</span>
                </button>
                <button class="retry" id="retry-button" disabled>
                    <span class="icon">replay</span>
                    <span class="button-text">retry</span>
                </button>
            </div>
            <div class="controller-panels">
                <div class="panel">
                    <div class="panel-row button-row">
                        <button id="train-button" disabled>
                            <span class="icon">smart_toy</span>
                            <span id="train-status" class="button-text">学習開始</span>
                        </button>
                        <button id="reset-button" disabled>
                            <span class="icon">layers_clear</span>
                            <span class="button-text">データをリセット</span>
                        </button>
                    </div>
                    <div class="panel-row params-webcam-row">
                        <div class="hyper-params">
                            <!-- Learning rate -->
                            <div class="dropdown">
                                <label
                                    >learning rate<span class="material-symbols-outlined" id="detail-learning-rate"
                                        >help</span
                                    ></label
                                >
                                <div class="select">
                                    <select id="learning-rate">
                                        <option value="0.00001">0.00001</option>
                                        <option selected value="0.0001">0.0001</option>
                                        <option value="0.01">0.001</option>
                                        <option value="0.03">0.003</option>
                                    </select>
                                </div>
                            </div>
                            <dialog class="detail-dialog" id="dialog-learning-rate">
                                機械学習において、学習率(learning
                                rate)は、学習プロセスにおいてモデルを更新する際のステップサイズを決定するハイパーパラメータ(人間が決める、アルゴリズムによって更新されないパラメータ)です。
                                <br />
                                学習プロセスでは、予測値と実際のデータ値との誤差を最小化するために、モデルが反復的にパラメータを調整します。学習率は、誤差関数の急降下方向へのステップの大きさを決定します。
                                <br />
                                学習率を高くすると、モデルの収束が早くなりますが、最適値を飛び越えてしまい、収束しないことがあります。
                                <br />
                                逆に、学習率が低いと、収束が遅くなりますが、飛び越えを避けることができるため、長期的には良い結果が得られる可能性があります。学習率が低すぎると、停留状態(プラトー)や局所最適値を抜け出せないなどの問題が生じることもあります。
                                <br />
                                詳しくは<a target="_blank" href="https://zero2one.jp/ai-word/learning-rate/">こちら</a
                                >。
                                <br />
                                <div class="keyword-block">
                                    検索キーワード:
                                    <ul class="keyword">
                                        <li>学習率</li>
                                        <li>leaning rate</li>
                                        <li>勾配降下法</li>
                                        <li>誤差関数</li>
                                    </ul>
                                </div>
                            </dialog>

                            <!-- Batch size -->
                            <div class="dropdown">
                                <label
                                    >Batch size<span class="material-symbols-outlined" id="detail-batch-size-fraction"
                                        >help</span
                                    ></label
                                >
                                <div class="select">
                                    <select id="batch-size-fraction">
                                        <option value="0.05">0.05</option>
                                        <option value="0.1">0.1</option>
                                        <option selected value="0.4">0.4</option>
                                        <option value="1">1</option>
                                    </select>
                                </div>
                            </div>
                            <dialog class="detail-dialog" id="dialog-batch-size-fraction">
                                機械学習において、バッチサイズ(ミニバッチサイズ)とは、学習プロセスにおいてニューラルネットワークの一度の学習で使用される学習データの数を意味します。
                                <br />
                                訓練中、ニューラルネットワークはミニバッチと呼ばれる、全体の学習データをバッチサイズごとに分割したデータごとにまとめて処理します。バッチサイズは、各バッチに含まれるデータの数です。例えば、バッチサイズが32に設定されている場合、ニューラルネットワークはパラメータを更新する前に一度に32の学習データを処理します。
                                <br />
                                バッチサイズの設定は、学習プロセスの速度と精度に影響するため、調整すべき重要なハイパーパラメータです。バッチサイズが大きいと、学習時間が短縮されますが、より多くのメモリと計算リソースが必要になる場合があります。一方、バッチサイズを小さくすると、学習時間は遅くなりますが、より良い最小値に収束し、過学習を回避できる可能性があります。
                                <br />
                                今回は、バッチサイズではなく、全体の枚数における割合を表しています。全体の写真が100枚で、0.1を選択すると、バッチサイズは10枚になります。
                                <br />
                                詳しくは<a target="_blank" href="https://zero2one.jp/ai-word/mini-batch-learning/"
                                    >こちら</a
                                >。
                                <div class="keyword-block">
                                    検索キーワード:
                                    <ul>
                                        <li>バッチサイズ</li>
                                        <li>イテレーション</li>
                                        <li>ミニバッチ学習</li>
                                        <li>ミニバッチ勾配降下法</li>
                                        <li>確率勾配降下法</li>
                                        <li>過学習 (over-fitting)</li>
                                    </ul>
                                </div>
                            </dialog>
                            <!-- Epochs -->
                            <div class="dropdown">
                                <label
                                    >Epochs<span class="material-symbols-outlined" id="detail-epochs">help</span></label
                                >
                                <div class="select">
                                    <select id="epochs">
                                        <option value="10">10</option>
                                        <option selected value="20">20</option>
                                        <option value="40">40</option>
                                    </select>
                                </div>
                            </div>
                            <dialog class="detail-dialog" id="dialog-epochs">
                                機械学習において、エポック(epochs)とは、ニューラルネットワークの学習中にデータセット全体に対して行われる完全な反復のことを指します。
                                <br />
                                各エポックにおいて、モデルは全てのミニバッチを処理し、予測出力と真の出力の間の誤差に基づいて重みとバイアスを更新します。エポック数は、学習中にモデルがデータセット全体を反復処理する回数を決定するハイパーパラメータです。
                                <br />
                                エポック数が少なすぎると、十分に学習ができない可能性があります。一方、エポック数が多すぎると、過学習が起こり、モデルが学習データに特化しすぎて、新しい未知のデータに対するパフォーマンスが低下する可能性があります。
                                <br />
                                1つの学習データは、全体の学習のなかで、エポック数の回数だけ学習に利用されます。
                                <br />
                                詳しくは<a target="_blank" href="https://zero2one.jp/ai-word/epoch/">こちら</a>。
                                <div class="keyword-block">
                                    検索キーワード:
                                    <ul>
                                        <li>エポック数</li>
                                        <li>ミニバッチ学習</li>
                                        <li>バッチサイズ</li>
                                        <li>イテレーション</li>
                                    </ul>
                                </div>
                            </dialog>

                            <!-- Hidden units -->
                            <div class="dropdown">
                                <label
                                    >Hidden units<span class="material-symbols-outlined" id="detail-dense-units"
                                        >help</span
                                    ></label
                                >
                                <div class="select">
                                    <select id="dense-units">
                                        <option value="10">10</option>
                                        <option selected value="100">100</option>
                                        <option value="200">200</option>
                                    </select>
                                </div>
                            </div>
                            <dialog class="detail-dialog" id="dialog-dense-units">
                                ニューラルネットワークの中間層のノードの数です。
                                <br />
                                隠れ層のノード数は、モデルの複雑さや表現力、学習速度などに影響を与える重要なハイパーパラメータです。
                                <br />
                                一般的に、より多くのノードを持つ隠れ層は、より豊富な表現力を持ち、より複雑な特徴やパターンを学習できます。しかし、大きなノード数は、モデルの学習速度を低下させたり、過学習を引き起こすことがあります。
                                <br />
                                このアプリでは、事前に訓練されたMobileNetモデルを使用して、転移学習を行っています。MobileNetを特徴量抽出器として、最後のニ層を分類器とする全結合モデルを使っています。出力層の一つ前の全結合層のノードの数を選択できます。
                                <br />
                                詳しくは<a target="_blank" href="https://zero2one.jp/ai-word/transfer-learning/"
                                    >こちら</a
                                >。
                                <div class="keyword-block">
                                    検索キーワード:
                                    <ul>
                                        <li>ニューラルネットワーク</li>
                                        <li>多層パーセプトロン</li>
                                        <li>転移学習</li>
                                        <li>Deep Learning</li>
                                    </ul>
                                </div>
                            </dialog>
                        </div>
                        <!-- /.hyper-param -->
                        <div class="webcam-container">
                            <video id="monitor" width="224px" height="224px"></video>
                        </div>
                    </div>
                </div>
                <!-- /.panel-row -->
                <div class="panel">
                    <div class="panel-row controller-row">
                        <div id="controller">
                            <div class="thumb-box" id="thumb-box-left">
                                <div class="data-size-area">
                                    <span class="data-size" id="left-size">0</span>
                                    examples
                                </div>
                                <div class="button-box" id="button-box-left">
                                    <button id="button-left">
                                        <canvas class="thumb" id="thumb-left" height="128px" width="128px"></canvas>
                                    </button>
                                </div>
                            </div>
                            <div id="lever-image">
                                <img src="../images/icons8-lever-64.png" />
                            </div>
                            <div class="thumb-box" id="thumb-box-right">
                                <div class="data-size-area">
                                    <span class="data-size" id="right-size">0</span>
                                    examples
                                </div>
                                <div class="button-box" id="button-box-right">
                                    <button id="button-right">
                                        <canvas class="thumb" id="thumb-right" height="128px" width="128px"></canvas>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- /#controller -->
                    </div>
                    <!-- /.panel-row -->
                    <div class="panel-row help-row">
                        <p class="help-text">
                            クリックすると学習データとして<br />
                            現在のカメラビューが追加されます
                        </p>
                    </div>
                    <!-- /.panel-row -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.controller-panels -->
        </div>
        <!-- /.body -->
        <footer>
            <p class="copy">© 2024 hamao</p>
            <div class="link">
                <a target="_blank" href="https://icons8.com/icon/rsHXUzeAjguF/lever">Lever</a> icon by
                <a target="_blank" href="https://icons8.com">Icons8</a>
            </div>
        </footer>
    </body>
</html>
