<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>IMAGE CONTROLLER BREAKOUT</title>
    </head>
    <body>
        <canvas id="game" width="480" height="380"></canvas>
        <div class="button-container">
            <div>
                <button class="start">始める</button>
                <button class="retry" disabled>やり直し</button>
            </div>
        </div>
    </body>
</html>
