<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div class="body">
            <div class="main">カメラでブロック崩しを操作しましょう</div>
            <ol class="process-list">
                <li>
                    画面右下に二つのボタンがあります。クリックすることで、現在写っているものをキャプチャすることができます。
                    <br />
                    それぞれに対応する表情やものを写した状態でクリックしてください。(例:左は笑顔, 右は怒った顔)
                    <br />
                    長押しすることで連続でキャプチャできます。左右それぞれ2~30枚あれば十分学習可能です。
                    合計200枚ほどになると処理が重たくなることがあるので気をつけてください。
                </li>
                <li>左下の領域から、学習に必要なパラメータを選択してください。</li>
                <li>"train"ボタンをクリックして、学習を開始してください。学習中の誤差関数の値が表示されます。</li>
                <li>学習が終了したら、"start"ボタンをクリックして、ゲームを開始してください。</li>
                <li>先ほど登録した、パドルを動かしたい方向に対応したものをカメラに映してください。</li>
                <li>
                    もう一度ゲームをプレイしたい時ややり直したい時は、"retry"ボタンをクリックした後、もう一度"start"ボタンをクリックして、ゲームを開始してください。
                </li>
                <li>
                    パラメータなどを変更してモデルを再学習させたい場合は、もう一度"train"ボタンをクリックしてください。
                </li>
                <li>データをリセットしたいときは、"reset"ボタンをクリックした後、もう一度 1.から実行してください。</li>
            </ol>
        </div>
    </body>
</html>
