* {
    margin: 0;
    padding: 0;
}

.webcam-container {
    #monitor {
        height: 160px;
        transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
    }
}

#controller {
    display: flex;
    align-items: center;
    .thumb-box {
        $thumb-size: 128px;
        width: $thumb-size;
        background-color: rgba(255, 255, 255, 0);
        button {
            padding: 0;
            border: 0;
            width: $thumb-size;
            height: $thumb-size;
        }

        &.predicted {
            background-color: red;
        }
    }
    .arrow {
        $arrow-size: 64px;
        width: $arrow-size;
        height: $arrow-size;
        img {
            width: $arrow-size;
            height: $arrow-size;
        }
    }
}

#game {
    background: #eee;
    display: block;
    margin: 0 auto;
}

.button-container {
    margin-top: 30px;
    width: 100vw;
    display: flex;
    justify-content: center;

    button {
        font-size: large;
        margin: 0 30px;
        padding: 5px;
    }
}

.controller-panels {
    display: flex;
    .panel {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
        align-items: center;

        &:first-child {
            border-right: 1px dashed #565656;
        }
        .panel-row {
            display: flex;
        }
    }
}

.panel-row-bottom {
    .help-text {
        &::before {
            content: "";
            display: inline-block;
            background: url("../images/corner-left-up.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 30px;
            height: 30px;
        }
        text-align: end;
    }
}
