@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
    margin: 0;
    padding: 0;
}

.webcam-container {
    #monitor {
        height: 160px;
        width: 160px;
        padding: 10px;
        background: gray;
        border-radius: 5%;
        transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
    }
    height: 180px;
}

#controller {
    display: flex;
    align-items: center;
    margin-top: 30px;
    .thumb-box {
        $thumb-size: 128px;
        padding: 5px 10px;
        background-color: rgba(255, 255, 255, 0);
        text-align: center;
        button {
            padding: 0;
            border: 0;
            width: $thumb-size;
            height: $thumb-size;
        }
        .button-box {
            width: $thumb-size;
            height: $thumb-size;
            padding: 5px;
            background: gray;
            border-radius: 5%;
            button {
                cursor: pointer;
            }
        }

        &.predicted {
            background-color: red;
        }
    }
    .arrow {
        $arrow-size: 64px;
        width: $arrow-size;
        height: $arrow-size;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Material Icons";
        img {
            width: $arrow-size;
            height: $arrow-size;
        }
    }
}

#game {
    background: #eee;
    display: block;
    margin: 0 auto;
}

.button-container {
    margin: 5px 10px;
    width: 100vw;
    display: flex;
    justify-content: center;
    button {
        font-size: large;
        background: none;
        border: none;
        margin: 0 30px;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        .button-text {
            border-bottom: 2px solid #484848;
            border-top: 2px solid #484848;
            display: inline-block;
            font-size: 18px;
            font-weight: 500;
            padding: 6px 12px;
            text-align: left;
            white-space: nowrap;
        }
    }
}

.controller-panels {
    $panel-width: 500px;
    display: flex;
    width: calc(#{$panel-width} * 2);
    justify-content: center;
    margin: 0 auto;
    .panel {
        display: flex;
        width: $panel-width;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;

        &:first-child {
            border-right: 1px dashed #565656;
        }
        .panel-row {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            width: 500px;
            padding: 3px;
            margin: 5px 0;

            &.button-row {
                justify-content: center;
                button {
                    margin: 5px 30px;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    border: none;
                    padding: 0;
                    border-radius: 5%;

                    .button-text {
                        border-bottom: 2px solid #484848;
                        border-top: 2px solid #484848;
                        // color: #aaa;
                        display: inline-block;
                        font-size: 18px;
                        font-weight: 500;
                        padding: 6px 12px;
                        text-align: left;
                        white-space: nowrap;
                    }
                }
            }

            &.params-webcam-row {
                justify-content: space-around;
            }

            &.controller-row {
                justify-content: center;
            }
            &.help-row {
                justify-content: center;
                .help-text {
                    &::before {
                        content: "";
                        display: inline-block;
                        background: url("../images/corner-left-up.svg");
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 30px;
                        height: 30px;
                    }
                    text-align: end;
                }
            }
        }
    }
}

.hyper-params {
    display: flex;
    flex-direction: column;
}

.dropdown {
    width: 110px;
    margin-bottom: 10px;

    label {
        // color: #777;
        font-size: 11px;
        display: block;
        font-weight: 300;
        line-height: 1;
    }

    .select {
        position: relative;

        select {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background: none;
            border: none;
            border-bottom: solid 1px #313131;
            border-radius: 0;
            color: #c9c9c9;
            display: block;
            font-size: 12px;
            outline: none;
            padding: 6px 0;
            width: 100%;

            option {
                font-weight: normal;
                display: block;
                white-space: nowrap;
                min-height: 1.2em;
                padding: 0px 2px 1px;
            }
        }
        &::after {
            content: "arrow_drop_down";
            color: #999;
            font-family: "Material Icons";
            font-weight: normal;
            font-style: normal;
            font-size: 18px;
            line-height: 1;
            letter-spacing: normal;
            text-transform: none;
            display: inline-block;
            white-space: nowrap;
            word-wrap: normal;
            direction: ltr;
            position: absolute;
            right: 0;
            top: 6px;
            pointer-events: none;
        }
    }
}

.icon {
    font-family: "Material Icons";
    font-size: 60px;
}

button {
    cursor: pointer;
    &:disabled {
        cursor: not-allowed;
    }
}
